<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messi.languagehelper"
    android:versionCode="20"
    android:versionName="2.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".BaseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoadingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="BDAPPID"
            android:value="6351423" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="YxhcUQ2FABS8hFzc2NhwD8LI" />

        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- 渠道商编号，其中name请不要改，将value修改为渠道商编号。渠道名称请到mtj.baidu.com的渠道管理中修改 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="messi" />
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="ac57450c2a" />
        <!-- 以下是可选的 -->
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 上面的日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔。取值为1-24（小时）的整数，默认为1 -->
        <!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="2" /> -->
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <receiver android:name="com.baidu.bottom.service.BottomReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="5450bd92" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="messi" />

        <!-- 乐点百度搜索sdk -->
        <activity
            android:name="com.lerdian.search.SearchResult"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="LERDIAN_CHANNEL"
            android:value="02a82416e42d4c8c942255c7cf75aa8d" />
        <!-- 乐点百度搜索sdk -->


        <!-- 讯飞广告sdk -->
        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="8115000" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 讯飞广告sdk -->

        <activity
            android:name=".WordStudyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotosTranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SymbolListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SymbolDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppRecommendListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvestmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EvaluationCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".GetContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".GetFansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnglishWebsiteRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailySentenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImgShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>